<%= form_with(model: articale, local: true) do |form| %>
  <% if articale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(articale.errors.count, "error") %> prohibited this articale from being saved:</h2>

      <ul>
      <% articale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :despcription %>
    <%= form.text_area :despcription %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
