<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @articale.title %>
</p>

<p>
  <strong>Despcription:</strong>
  <%= @articale.despcription %>
</p>

<%= link_to 'Edit', edit_articale_path(@articale) %> |
<%= link_to 'Back', articales_path %>
